extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  h2 Dashboard
  select
    option google.co.jp
  select
    option Desktop
    option Mobile
  br
  br
  div(class='container')
    div(class='item') Categories
      ul
        li
          a(href="#") All Categories
        li
          a(href="#") Gambling (brand + review)
        li
          a(href="#") Gambling (only review websites)
        li
          a(href="#") Gambling (only brand websites)

    div(class='item')
      img(src="/images/example-dashboard.png", width='90%', title='Example Image')
  br
  h2 Reports (Desktop, switch to mobile for see mobile reports)
  ul
    li
      a(href="/reports/") Daily

  br
  h2 Some data
  ul
    li Title Length showed in search: <strong>#{averageTitleLength}</strong> // 50, 00, 100 (middle, min, max; By top 10; Desktop and Mobile)
    li Description Length showed in search: <strong>#{averageDescriptionLength}</strong> // 50, 00, 100 (middle, min, max; By top 10; Desktop and Mobile)
    li Title Length showed in search mobile: <strong>#{averageTitleLengthMobile}</strong> // 50, 00, 100 (middle, min, max; By top 10; Desktop and Mobile)
    li Description Length showed in search mobile: <strong>#{averageDescriptionLengthMobile}</strong> // 50, 00, 100 (middle, min, max; By top 10; Desktop and Mobile)
    li Emoji's in title / description
  h2 Drafts / Ideas
  p Some data we can process (Once a month, by domains) (Not first priority, just ideas, unavailable now)
  ul
    li Pages in google index (By top 10)
    li Pagespeed (By top 10)
    li Domain zones (By top 10)
    li Url Nesting Level (By top 10)
    li Average Age (by whois or web archive) (By top 10)
    li Headings stats (h1-h3 count / length) (By top 10)

    li Traffic differences between month's (Alexa, Similarweb, Ahrefs, etc) (By top 10)
    li Content length (manually by custom parsing some websites)
    li Keywords Spam count (manually by custom parsing websites and custom keywords)


  hr

  p What data we parse, collect, processing
  table(border=1, width='100%')
    thead
      tr
        td Gambling brand keywords - ['key', 'volume']
        td Gambling review keywords
        td Spectating Websites (for algorithm update checking)
    tbody
      tr(padding='0px')
        td
          ul
            li ['ベラジョンカジノ', 207000]
            li ['スポーツベットアイオー', 58000]
            li ['カジノシークレット', 56000]
            li ['ミスティーノ', 43000]
            li ['エルドア カジノ', 39000]
            li ['bet365', 33000]
            li ['カジ旅', 30000]
            li ['インターカジノ', 29000]
            li ['コニベット', 28000]
            li ['ビットカジノ', 24000]
            li ['ボンズカジノ', 19000]
            li ['ワンダーカジノ', 17000]
            li ['オンラインカジノ netbet', 16000]
            li ['クイーンカジノ', 15000]
            li ['ユースカジノ', 12000]
            li ['ラッキーニッキー', 12000]
            li ['カジノミー', 10000]
            li ['beebet', 9700]
            li ['ライブカジノハウス', 9700]
            li ['レオベガス', 8600]
            li ['ギャンボラ', 8000]
            li ['10bet', 7700]
            li ['ウィリアムヒル', 6700]
            li ['ピナクル', 6300]
            li ['ジパングカジノ', 6100]
            li ['188bet', 5900]
            li ['チェリーカジノ', 5500]
            li ['カスモカジノ', 4600]
            li ['dora麻雀', 4000]
            li ['アロハシャーク', 4000]
            li ['カジノフライデー', 3900]
            li ['ポーカースターズ', 3800]
            li ['1xbet', 3800]
            li ['コンクエスタドールカジノ', 3600]
            li ['エンパイアカジノ', 3400]
            li ['ビーベット', 3400]
            li ['ベット365', 2900]
            li ['ワイルドジャングルカジノ', 2700]
            li ['ステークカジノ', 2200]
            li ['ユニークカジノ', 2000]
            li ['カジノデイズ', 1700]
            li ['カジノエックス', 1600]
            li ['スロッティベガス', 1400]
            li ['betway', 1400]
            li ['ロイヤルパンダ', 1300]
            li ['ビットスターズ', 1300]
            li ['dafabet', 1200]
            li ['ジョイカジノ', 1200]
            li ['ナショナル カジノ', 1100]
            li ['カジノ イン', 1000]
            li ['ワンバイベット', 1000]
            li ['ロトランド', 1000]
        td
          ul
            li オンラインカジノ
            li オンカジ
            li casino online
            li online casino in japan
            li オンラインカジノ 最新
            li 日本人向け 新規 カジノ
            li オンカジ ランキング
            li オンラインカジノ 評価
            li トップ オンライン カジノ
            li オンラインカジノ スマホ
            li オンラインカジノ アプリ
            li モバイル カジノ
            li mobile casino japan
            li オンラインカジノ iphone
            li ハイローラー カジノ
            li オンカジ出金早い
            li 本人確認不要 カジノ
            li 本人確認なし オンカジ
            li カジノ vip
            li オンライン カジノ 信頼
            li オンラインカジノ 出金無制限
            li オンラインカジノ 世界 カジノ
            li オンラインカジノ 日本語
            li ジャパニーズ カジノ
            li オンラインカジノ 日本円
            li アメリカ オンラインカジノ
            li オンラインカジノ フィリピン
            li リアルカジノ
            li 500 円 から 入金 できる カジノ
            li 10ドルから
            li オンライン カジノ 一覧
        td
          ul
            li site.ru
              ul
                li key
                li key
                li key
            li site.ru
              ul
                li key
                li key
                li key
            li site.ru
              ul
                li key
                li key
                li key
